<p id="notice">
    <%= notice %>
</p>
<div class="row justify-content-center">
    <div class="col-6">
        <h1>Cocktail Index</h1>
        <div class="border-top">
            <ul class="list-group">
                <% @cocktails.each do |cocktail| %>
                <li class="list-group-item">
                    <tr>
                      <%= cl_image_tag "outfiy6mryxvt9sqeqxp",
      width: 400, height: 300, crop: :fill %>
                        <td>
                            <%= link_to cocktail.name, cocktail %>
                        </td>
                        <td>
                        </td>
                    </tr>
                </li>
                <% end %>
            </ul>
            <%= link_to 'New Cocktail', new_cocktail_path, class: "btn btn-primary" %>
        </div>
    </div>
</div>









