.card {
  background-color: #1F0318;
  background-size: cover !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-product {
  // overflow: hidden;
  height: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  width: 400px;
  margin: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
  border-radius: 3px;
  background-size: cover !important;
  background-position: center;
  object-fit: cover;
  opacity: 0.5;
}

.card-product:hover {
  opacity: 1;
}


a {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  top: 10px;
  left: 10px;
}


.card-product .card-product-infos {
  padding: 16px;
}




