// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "card_product";
@import "footer";
@import "new";


h1 {
  font-size: 50px;
  color: #89023E;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

// .container {
//   max-width: 1000px;
//   margin-top: 30px;
// }

  // display: grid;
  // grid-template-rows: 1fr 1fr 1fr;
  // grid-gap: 16px;


.card-img-top {
  width: 100px;
  height: 100px;
}


.flex-container {
  display: flex;
  justify-content: space-between;
}
