// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "card";
@import "footer";
@import "new";
@import "ingredientscard";



.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 26px;
  justify-content: space-around;
}
